/*styles for header*/

body{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	padding-top: 0px;
}

.dark-blue   /*dark blue background for header and main sections*/
{
	background-color: #0c1027;
}

.white-font
{
	color: white;
}

.top-header-container
{
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	margin-top: 0px;
	padding-top: 0px;
	width: 100%;
}

.top-header-left-container
{
	display: flex;
	flex-direction: row;
}

.top-header-right-container
{
	display: flex;
	flex-direction: row;
}

.header-padding
{
	padding-left: 40px;
	padding-right: 40px;
}
.flex-for-musicplayericon
{
	display: inline-flex;
}

.fav-container
{
	height: .5rem;
	width:  50rem;
}
.searchcontainer
{
	margin-top: 20px;
	height: .5rem;
	width:  15rem;
	background: #12193e;
	border-radius: 30px;
}

.searchbox
{
	outline-style: none;
	box-shadow: none;
	border-color: transparent; 
	background: #12193e;
}
.searchimg
{
	height: 20px;
	width: 20px;
}

.header-img
{
	height: 3rem;
	width: 3rem;
	padding: 10px;
}

/*styles for main section*/

.main-container{ 
	display: flex;
	flex-direction: row;
	/* margin-top: auto; */
	padding: 50px;
}

.main-container-left{
	display: flex;
	flex-direction: column;
	width: 67%;
	height: 100vh;
	overflow: auto;
	width: calc(100% - (100% / 3));
}

.main-container-right-aside{
	display: flex;
	flex-direction: column;
	width: 33%;
	width: calc(100% / 3);
	height: 100vh;   /*handling scrolling*/
	overflow: auto;
}

.carousel-container
{
	display: flex;
	align-items: center;
	margin-left: 3rem;
	margin-top: 3rem;
	margin-right: 10rem;
}

.carousel-img{
	height: 10rem;
	width: 17rem;
	padding: .25rem;
	opacity: 50%;
	transition: transform .4s;
}

.carousel-img:hover {
		opacity: 150%;
		transform: scale(1.3);
		transform-origin: 50% 50%;
		z-index: 1;
}

/* #carousel-img1{
	height: 100px;
	width: 100%;
	opacity: 0.5;
	transition: transform .1s;
}

#carousel-img2{
	height: 100px;
	width: 100%;
	opacity: 0.5;
	transition: transform .1s;
}

#carousel-img3{
	height: 100px;
	width: 100%;
	opacity: 0.5;
	transition: transform .1s;
}

#carousel-img1:hover{
	height: 150px;
	opacity: 1;
	transform: scale(1);
	z-index: 1;
}

#carousel-img2:hover{
	height: 150px;
	opacity: 1;
	transform: scale(1);
	z-index: 1;
}

#carousel-img3:hover{
	height: 150px;
	opacity: 1;
	transform: scale(1);
	z-index: 1;
} */




.latest-release-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
}

.latest-release-songs-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	/* height: 300px; */
}

.each-released-song-container{
	width: 35%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

.each-released-song-image{
	padding-right: 5px;
}

.each-released-song-details{
	padding: 5px;
}
.each-released-song-left-container{
	display: flex;
}


.latest-release-img
{
	height: 100px;
	width: 100px;
}

.latest-release-flex
{
	display: flex;
}
.latest-release-margin
{
	margin: 20px;
}

/* popular artist */


.popular-artist-images-container{
	display: flex;
	flex-direction: row;
}

.each-popular-artist-image-and-title{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stations-container{
	background-color: #12193e;
	display: flex;

}

.mix-container{
	display: flex;
	flex-direction: row;
}
.song-flex
{
	display: inline-flex;
}

.song-margin
{
	margin: 50px;
}

.inside-song-margin
{
	margin-left: 30px;
}

.artist-img
{
	height: 130px;
	width: 130px;
	border-radius: 70px;
	padding: 5px;
}

.artist-flex
{
	display: flex;
	flex-direction: column;
}

.artist-flex h6
{
	margin-left:2.5rem ;
}
.genre-image-container
{
	position: relative;
	text-align: center;
	color: white;
}
.text-over-image
{
	position: absolute;
	top: 22%;
	left: 26%;
}

.mix-image-container{
	position: relative;
	text-align: center;
	color: white;
	overflow: hidden;
	height: 150px;
	width: 300px;
	opacity: 70%;
}

.mix-image-container img{
	transition: 0.6s ease}

.mix-image-container:hover img {
	transform: scale(1.2);
	opacity: 100%;
}

.mix-img   /*zoom in on hover*/
{
	/* height: 10rem;
	width: 17rem;
	padding: .9rem; */

	height: 150px;
	width: 300px;
	
	
}


.genre-flex
{
	display: inline-flex;
	justify-content: space-between;
}

.genre-img
{
	height: 130px;
	width: 130px;
	border-radius: 70px;
	padding: 5px;
	opacity: 50%;
}

.genrecontainer
{
	margin-top: 20px;
	height: 10rem;
	width:  55rem;
	background: #12193e;
	
}

/*latest english songs*/
.latest-english-song-container{
	display: flex;
}

.latest-english-song-each-container{
	padding: 5px;
}

.latest-english-song-image{
	height: 130px;
	width: 130px;
	border-radius: 3%;
	/* padding: 5px; */
}

.latest-english-song-image:hover{
	cursor: pointer;
	box-shadow: 0 14px 18px 0 rgba(18, 25, 62, 1), 0 166px 200px 0 rgba(0, 0, 1, 0.19);
}



.a-flex{
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.font-size{
	font-size: 10px;
}

.aside-heading-container{
	display: flex;
	justify-content: space-between;
}

.aside-song-list-container{
	display: flex;
	flex-direction: column;
}

.aside-song-list-each-container{
	display: flex;
	justify-content: space-between;
}

.aside-song-list-each-left{
	display: flex;
	flex-direction: row;
}
.aside-image{
	height: 50px;
	width:50px;
}

.aside-song-description{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.aside-song-description h5,h6{
	padding: 0px;
	margin:0px;
}

.heart-padding{
	padding: 20px;
}

/* footer styling */

.footer-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
	padding: 0px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer-color{
	background-color: #282828;
}

.footer-left-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* vertical-align: middle; */
}

.inside-footer-left-padding{
	padding: 15px;
}

.footer-icon-padding{
	padding: 2px;
}

.footer-right-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle;
}

.footer-left-icon-padding{
	padding: 9px;
}

.footer-left-song-description div p{
	padding: 0px;
	margin: 0px;
}

::-webkit-scrollbar{  /*hiding scrollbars*/
	display: none;
}


/*artist page styling*/

.artist-main-container{
	display: flex;
	/* margin-top: 100px; */
	padding-top: 80px;
}

.artist-left-container{
	width: 75%;
	display: flex;
	flex-direction: column;
}

.artist-left-top-container{
	display: flex;
}

.artist-image-styling{
	height: 300px;
	width: 300px;
	padding: 10px;
}

.artist-left-top-description{
	display: flex;
	flex-direction: column;
}

.artist-left-top-name-and-followers{
	display: flex;
	justify-content: space-between;
}
.artist-left-top-play-and-follow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.play-box-styling{
	height: 44px;
	width: 157px;
	background-image:  linear-gradient(to right, #522bb8, #b244d9);
	text-align: center;
	vertical-align: middle;
}

.play-box-styling p{
	text-align: center;
	padding-top: 10px;
}


.artist-right-container{
	width: 25%;
	display: flex;
	flex-direction: column;
	padding-left:15px ;
}

.artist-right-top-similar-artist-title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.artist-right-bottom-recently-played-title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
